{% extends "layout.twig" %}

{% block content %}

 <header>
    <div class="wrapper clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/egg.png')})|raw}}
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<section>
    {{widget('feature', 'featurehome', {"header": "Websites with a difference. <br>10 years industry experience.", "strapline":"Ut urna ipsum pulvinar vitae sagittis in placerat ac nulla.", "buttonText":"LOREM IPSUM","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</section>

<div class="wrapper clearfix">
    {{zone('main')|raw}}
</div>  

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1', {"content":"<h3>Lorem Ip Soda</h3><p>Integer a Tortor Dui. Nullam nec ante mi. Morbi sodales urna sit amet mauris elementum quis rutrum lacus gravida. Proin feugia libero quis.</p>"})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2', {"content":"<h3>Aliquam Sodales</h3><p>Copyright © 2013. All Rights Reserved.</p>"})|raw}}

                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
